<h2>User Profile</h2>

<div>
  <dl class="dl-horizontal">
    <dt>
      CreateDate
    </dt>

    <dd>
      {{ user.CreateDate }}
    </dd>

    <dt>
      LastModified
    </dt>

    <dd>
      {{ user.LastModified }}
    </dd>

    <dt>
      Username
    </dt>

    <dd>
      {{ user.Username }}
    </dd>

    <dt>
      Fullname
    </dt>

    <dd>
      {{ user.Fullname }}
    </dd>

    <dt>
      LastLoginDate
    </dt>

    <dd>
      {{ user.LastLoginDate }}
    </dd>

    <dt>
      Is Disabled
    </dt>

    <dd>
      {{ user.IsDisabled }}
    </dd>

    <dt>
      Is Admin
    </dt>

    <dd>
      {{ user.IsAdmin }}
    </dd>

  </dl>
</div>
<p>
</p>
