<h2>Folder Detail</h2>

<div>
  <dl class="dl-horizontal">
    <dt style="margin-bottom:5px;">
      Title
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      {{ folder.Title }}
    </dd>
    <dt style="margin-bottom:5px;">
      Folder Type
    </dt>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="folder.IsLocal">Local</dd>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="!folder.IsLocal">Virtual</dd>
    <dt style="margin-bottom:5px;">
      Access Level
    </dt>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="folder.IsPublic">Public</dd>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="!folder.IsPublic">Private</dd>
    <dt style="margin-bottom:5px;">
      IsProtected
    </dt>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="folder.IsPublic">True</dd>
    <dd class="form-control" style="margin-bottom:5px;" *ngIf="!folder.IsPublic">False</dd>
    <dt style="margin-bottom:5px;">
      CreateDate
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      {{ folder.CreateDate }}
    </dd>

    <dt style="margin-bottom:5px;">
      LastModified
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      {{ folder.LastModified }}
    </dd>
    <dt style="margin-bottom:5px;">
      Path
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      {{ folder.Path }}
    </dd>
  </dl>
</div>
<p>
  <a [routerLink]="['/folders']" class="btn btn-default">Return</a>
</p>
