<h2>Folder Detail</h2>

<div>
  <dl class="dl-horizontal">
    <dt style="margin-bottom:5px;">
      Title
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      @Html.DisplayFor(model => model.Title)
    </dd>
    <dt style="margin-bottom:5px;">
      Folder Type
    </dt>
    <dd class="form-control" style="margin-bottom:5px;">Local</dd>
    <dt style="margin-bottom:5px;">
      Access Level
    </dt>
    <dd class="form-control" style="margin-bottom:5px;">Public</dd>
    <dt style="margin-bottom:5px;">
      IsProtected
    </dt>
    <dd class="form-control" style="margin-bottom:5px;">True</dd>
    <dt style="margin-bottom:5px;">
      CreateDate
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">

    </dd>

    <dt style="margin-bottom:5px;">
      LastModified
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">

    </dd>
    <dt style="margin-bottom:5px;">
      Path
    </dt>

    <dd class="form-control" style="margin-bottom:5px;">
      
    </dd>
  </dl>
</div>
<p>
  <a [routerLink]="['/Folders']" class="btn btn-default">Return</a>
</p>
