<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Login</title>
</head>
<body>
  <form class="login" method="post" action="SubmitLogin">
    <h2>Welcome, User!</h2>
    <p>Please log in</p>
    <input type="text" name="Username" placeholder="User Name" autofocus />
    <input type="password" name="Password" placeholder="Password" />
    <input type="submit" value="Log In" />
    <div class="links">
      <p id="ErrorMessage" style="color:palevioletred;font-weight:bold;" hidden></p>
    </div>
  </form>
</body>
</html>
