<p>dashboard-component works!</p>

<!--@for (int i = 0; i <= Model.Count / 4; i++)
{
<div class="row">
  @foreach (var fld in Model.OrderBy(p => p.UserId).ThenBy(p => p.Title).Skip(i*4).Take(4))
  {
  <div class="col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <a href="@Url.Action(" Folder","Home",new { Id=fld.Id })">@fld.Title</a>
      </div>
      <div class="panel-body">
        <ul>
          @if (fld.IsLocal)
          {
          <li>Local</li>
          }
          else
          {
          <li>Virtual</li>
          }
          @if (fld.IsPublic)
          {
          <li>Public</li>
          }
          else
          {
          <li>Private</li>
          }
          @if (fld.IsProtected)
          {
          <li>Protected</li>
          }
          else
          {
          <li>Not Protected</li>
          }
        </ul>
      </div>
      <div class="panel-footer">
        created by @fld.Username
      </div>
    </div>
  </div>
  }
</div>
}-->
